@import "~taro-ui/dist/style/components/card.scss";
@import "~taro-ui/dist/style/components/avatar.scss";

.item {
  margin-bottom: 30px;
}

.btn {
  width: 90%;
  margin-top: 20px;
  color: white;
  background-color: #0870FF;
}