@import "~taro-ui/dist/style/components/list.scss";
@import "~taro-ui/dist/style/components/icon.scss";

.index {
  margin: 10px;

  .Header {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn {
      width: 43%;
      padding: 20px;
      border-radius: 20px;
      text-align: center;
      color: white;
      font-weight: normal;
      background-image: linear-gradient(135deg, #eb2f06, #e55039);

      &:active {
        
        transition: ease .5s;
      }
    }
  }

  .main {
    .main-title {
      padding-bottom: 15px;
      border-bottom: 2px solid red;
    }
  }
}
