.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // border-bottom: 1px solid #C5D9E8;

  .left {
    display: flex;
    align-items: center;
    padding: 12px;
    .avatar {
      border-radius: 100%;
      width: 100px;
      height: 100px;
    }
    .nickName {
      margin-left: 25px;
    }
  }
  .right {
    color: red;
  }
}